/*
Bleu-green: #A4C2C0
*/
@font-face {
     font-family: titelFont;
     src: url(fonts/ADAM.CGPRO.otf);
}

body{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif, Roboto;
    background-color: #F5F5F5;

}

#headerHome{
    background: url(img/afbeelding.png) no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}
.HomeLogo{
    margin: 5% 0;
    width: 100%;
}

.header {
    background-color:#71747A;
    color: #FFFFFF;
    margin-bottom: 0px;
}

/* NAVIGATIE
***************/
/*
* Helpers
*/
.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix::after {
    clear: both;
}

.logo{
    float:left;
    margin-left: 5px;
    margin-top: 5px;
    width: 25px;
}

nav ul li a {
    padding-left: 20px;
    display: none;
}
nav ul li a:hover {
    font-weight: bold;
}
nav ul li .selected{
    font-weight: bold;
}

#header-wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 998;
    color: #FFFFFF;
    margin-bottom: -40px;
}
#header-wrapper > div > div > div {
    margin-bottom: 0;
}
#header::before, #header::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
#header::after {
    clear: both;
}

#header__navigation-toggle {
    float:right;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #FFFFFF;
}
#header__navigation-toggle::before {
    display: block;
    content: '\f0c9';

    font-family: FontAwesome;
    font-size: 2rem;

    transform: rotate(0deg);
    transition: all 168ms ease-out 0s;
    padding-bottom: 0.3rem;
}
.offcanvas-open #header__navigation-toggle::before,
.headernav-open #header__navigation-toggle::before {
    transform: rotate(90deg);
    transition: all 168ms ease-out 0s;
}
#header__navigation-toggle > span {
    display: none;
}

#header__navigation {
    float: right;
    width: 100%;
    display: none;
    color:#FFF;
}
.headernav-open #header__navigation {
    display: block;
}
#header__navigation > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#header__navigation > ul > li {
    float:right;
    width: 100%;
}
#header__navigation .navigation__item {
    text-decoration: none;
    display: block;
    width:100%;
    color: #FFFFFF;
    float: right;
    text-align: right;

}
.header{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 0px;
    top: 0;
    left: 0;
}
nav ul li{
    list-style: none;
}
@media (min-width: 42.5rem) {
    #offcanvas {
        display: none;
    }
    #header__navigation-toggle {
        display: none;
    }
    #header__navigation {
        width: auto;
        display: block;
    }
    #header__navigation > ul > li {
        width: auto;
    }
    #header__navigation > ul > li:last-of-type {
        width: auto;
    }
    #header__navigation .navigation__item {
        height: 40px;
        line-height: 40px;
        float:right;
        text-align: right;
    }
}

/*user, melding*/
#offcanvas__navigation .navigation__item.up{
    text-transform: none ;
    border-bottom: none;
    margin-bottom: 20px;
}


#content{
    margin-top: 50px;
}

.bold{
    font-weight: bold;
}
.icon{
    height: 15px;
    margin-right: 5px;
}
.icon.category{
    margin-right: 10px;
}
.left.pijl{
    margin-left:10px;
}
.left{
    float: right;
}
.overview{
    background-color: #D1D9DC;
    padding: 5px;
}

.footer p{
    font-size: 0.8rem;
}

h2{
    font-family: titelFont, 'Open Sans', sans-serif;
}

.button {
    background-color: #A4C2C0;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    width: 150px;
    color: #FFF;
    padding: 5px;
    display: block;
    margin: 0 auto;

}
.buttons a{
    text-decoration: none;
}

.button:hover{
    color: #000;
}
.footer{
    text-align: center;
}


/* responsive */

@media (min-width: 20rem) {

}
@media (min-width: 30rem) {


}
@media (min-width: 42.5rem) {


}

@media (min-width: 60rem) {


}
@media (min-width: 71.25rem) {



}

